name: Update streak card

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Download streak svg
        run: |
          mkdir -p profile
          curl -L --fail "https://streak-stats.demolab.com?user=ogyrec-o" -o profile/streak.svg

      - name: Commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/streak.svg
          git commit -m "chore: update streak card" || exit 0
          git push
